/*Utils*/
@font-face {
  font-family: "dancing";
  src: url("../fonts/Dancing.ttf");
}
@font-face {
  font-family: "noto";
  src: url("../fonts/Noto_serif/NotoSerif-Regular.ttf"), url("../fonts/Noto_serif/NotoSerif-Bold.ttf");
}
@font-face {
  font-family: "Savoye LET";
  src: url("../fonts/SavoyeLET.ttc");
}
@font-face {
  font-family: "kalam";
  src: url("../fonts/Kalam/Kalam-Light.ttf"), url("../fonts/Kalam/Kalam-Regular.ttf"), url("../fonts/Kalam/Kalam-Bold.ttf");
}
@keyframes pointillee {
  0% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-8px);
  }
}
@keyframes wiggle {
  25% {
    transform: rotateZ(7deg);
  }
  75% {
    transform: rotateZ(-7deg);
  }
}
@media (max-width: 488px) {
  .mep_menu2 .menu2 header h3 {
    text-align: unset;
    left: 12%;
  }
}

@media (max-width: 730px) {
  .mep_menu1, .mep_menu2, .mep_menu3, .mep_menu4 {
    zoom: 80%;
  }
}
@media (max-width: 1025px) {
  .mep_menu1 h2, .mep_menu2 h2, .mep_menu3 h2, .mep_menu4 h2 {
    font-size: 2.3076923077em;
  }
}
@media (max-width: 488px) {
  .mep_menu1 h2, .mep_menu2 h2, .mep_menu3 h2, .mep_menu4 h2 {
    font-size: 2em;
  }
}
@media (max-width: 1024px) {
  .mep_menu1 section, .mep_menu2 section, .mep_menu3 section, .mep_menu4 section {
    width: 95%;
  }
}
@media (max-width: 1024px) and (max-width: 488px) {
  .mep_menu1 section article p:nth-of-type(1), .mep_menu2 section article p:nth-of-type(1), .mep_menu3 section article p:nth-of-type(1), .mep_menu4 section article p:nth-of-type(1) {
    margin-top: 30px;
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  .mep_menu1 section article header, .mep_menu2 section article header, .mep_menu3 section article header, .mep_menu4 section article header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 1024px) and (max-width: 488px) {
  .mep_menu1 section article header h3, .mep_menu2 section article header h3, .mep_menu3 section article header h3, .mep_menu4 section article header h3 {
    margin: 10px auto auto auto;
  }
}
@media (max-width: 1024px) and (max-width: 1200px) {
  .mep_menu1 section article header .separateur_gauche, .mep_menu2 section article header .separateur_gauche, .mep_menu3 section article header .separateur_gauche, .mep_menu4 section article header .separateur_gauche {
    zoom: 80%;
  }
}
@media (max-width: 1024px) and (max-width: 488px) {
  .mep_menu1 section article header .separateur_droit, .mep_menu2 section article header .separateur_droit, .mep_menu3 section article header .separateur_droit, .mep_menu4 section article header .separateur_droit {
    display: none;
  }
}

/*Layout*/
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 50px;
  padding-bottom: 40px;
}

.header_principal_h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #3da087;
  height: 150px;
  align-items: center;
  margin-top: 0px;
  padding-bottom: 0px;
}

footer {
  position: fixed;
  background-color: #3da087;
  height: 100px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: #ffce00;
}
footer p {
  font-weight: 500;
  font-size: 1.87em;
}
footer p :hover {
  animation: wiggle 200ms 4;
}
footer a {
  color: #ffce00;
}

h1 {
  color: #ffce00;
  font-size: 4.5em;
  text-align: center;
  font-weight: bolder;
}

h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.3em;
  margin: auto;
  display: inline-block;
  background-color: transparent;
  clip-path: inset(1px 1px);
  padding: 0 10px;
}

section h2 {
  cursor: pointer;
}

h3 {
  text-align: center;
  font-size: 3em;
  padding: 30px 50px 0 50px;
}

h4 {
  font-size: 1.5em;
}

.entete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.entete i {
  padding-top: 40px;
}

.mep_menu1, .mep_menu2, .mep_menu3, .mep_menu4 {
  margin: 20px;
  box-shadow: 2px 2px 12px grey;
}
.mep_menu1 h2, .mep_menu2 h2, .mep_menu3 h2, .mep_menu4 h2 {
  cursor: default;
  text-align: center;
  font-size: 3em;
  padding: 30px 50px 0 50px;
}
.mep_menu1 section, .mep_menu2 section, .mep_menu3 section, .mep_menu4 section {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
}
.mep_menu1 section article, .mep_menu2 section article, .mep_menu3 section article, .mep_menu4 section article {
  box-sizing: border-box;
  width: 100%;
}
.mep_menu1 section article header, .mep_menu2 section article header, .mep_menu3 section article header, .mep_menu4 section article header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.mep_menu1 section article header h3, .mep_menu2 section article header h3, .mep_menu3 section article header h3, .mep_menu4 section article header h3 {
  box-sizing: border-box;
  min-width: 320px;
  padding: 0 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5em;
}
.mep_menu1 section article header h3:after, .mep_menu2 section article header h3:after, .mep_menu3 section article header h3:after, .mep_menu4 section article header h3:after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-100%) scaleX(0);
  width: 100%;
  height: 1.3636363636em;
  border-radius: 30% 20px 50% 20px;
  transition: transform 1500ms ease-in-out;
}
.mep_menu1 section article header h3:hover:after, .mep_menu2 section article header h3:hover:after, .mep_menu3 section article header h3:hover:after, .mep_menu4 section article header h3:hover:after {
  transform: translateX(-50%) scaleX(1);
}

body {
  font-family: "Georgia", "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1em;
  margin: 0 0 100px 0;
}

main, nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  font-size: 1.1em;
  align-items: start;
  padding: 10px;
}
p span {
  font-size: 1.1em;
  font-weight: 700;
  padding-left: 30px;
}

i {
  font-size: 2em;
  background: -webkit-linear-gradient(left, #ff4a55, #ff8c5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  clip-path: inset(1px 1px);
}

a {
  text-decoration: none;
  color: unset;
}
a:visited {
  color: unset;
}

section a {
  transition: 600ms ease-in-out;
}
section a:hover {
  transform: scale(1.2);
}

/*Page*/
.mep_prochainement section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mep_prochainement section p {
  text-align: center;
  font-size: 4em;
}
.mep_prochainement section p span {
  font-size: 0.5em;
}

.menu {
  width: 540px;
  height: 760px;
  box-shadow: -2px 5px 20px grey;
  margin: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu .mep {
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.menu .mep i {
  padding-bottom: 20px;
}
.menu .mep p {
  padding-top: 20px;
  font-size: 1.3em;
}

#ligne_1, #ligne_2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#ligne_1 article:nth-of-type(1) {
  background-color: #ffded9;
  color: #410d16;
  font-family: "dancing";
  font-size: 2em;
}
#ligne_1 article:nth-of-type(2) {
  background-color: #fff4fe;
  color: #d17200;
  font-family: "noto";
  font-size: 2em;
}
#ligne_1 article:nth-of-type(2) h2 {
  font-size: 1.3em;
  background: -webkit-linear-gradient(left, #d17200, #9b21ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#ligne_2 article:nth-of-type(1) {
  background-color: #f9f9f9;
  color: #007cff;
  font-family: "Savoye LET";
  font-size: 2.6em;
}
#ligne_2 article:nth-of-type(1) h2 {
  background: -webkit-linear-gradient(left, #2900e8, #007cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#ligne_2 article:nth-of-type(2) {
  background-color: #fdfffd;
  color: #52c749;
  font-family: "kalam";
  font-size: 2.3em;
}
#ligne_2 article:nth-of-type(2) h2 {
  background: -webkit-linear-gradient(left, #52c749, #a9ff6d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*bouton prochainement*/
#btn_prochainement {
  box-shadow: 2px 2px 12px grey;
  color: #ffce00;
  background-color: #3da087;
  padding: 10px 60px 10px 60px;
  border-radius: 15px;
  margin-top: 50px;
  font-size: 1.3em;
}
#btn_prochainement h2 .pointille {
  display: inline-block;
  animation: pointillee 900ms ease-in-out infinite alternate-reverse;
  padding-left: 7px;
}
#btn_prochainement h2 .pointille--1 {
  animation-delay: 150ms;
}
#btn_prochainement h2 .pointille--2 {
  animation-delay: 300ms;
}
#btn_prochainement h2 .pointille--3 {
  animation-delay: 450ms;
}

.mep_menu1 {
  background-color: #ffded9;
  color: #410d16;
  font-family: "dancing";
  font-size: 2em;
}
.mep_menu1 i {
  background-color: blue;
  padding-top: 2em;
  padding-bottom: 0;
}
.mep_menu1 h2 {
  background: #410d16;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 50px;
}
.mep_menu1 h3:after {
  background: rgba(65, 13, 22, 0.3);
  bottom: -5px;
}

.mep_menu2 {
  background-color: #fff4fe;
  color: #d17200;
  font-family: "noto";
  font-size: 2em;
  align-content: flex-end;
}
.mep_menu2 h2 {
  background: -webkit-linear-gradient(left, #d17200, #9b21ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mep_menu2 h3:after {
  background: -webkit-linear-gradient(left, rgba(209, 114, 0, 0.3), rgba(155, 33, 255, 0.5));
}
.mep_menu2 .menu2 #bg2 {
  color: #af5d9b;
}
.mep_menu2 .menu2 #bg3 {
  color: #7930d3;
}
.mep_menu2 .menu2 header {
  padding: 0;
}
.mep_menu2 .menu2 header h3 {
  text-align: center;
  left: -100px;
  margin-left: 15px;
}
.mep_menu2 .menu2 header .separateur_gauche {
  margin: 0;
  width: 0px;
  height: 0px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 220px solid;
  position: relative;
  left: 0%;
}
.mep_menu2 .menu2 header .separateur_gauche:after {
  content: "";
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 35px solid;
  width: 0px;
  height: 0px;
  top: -6px;
  left: 220px;
  position: absolute;
}
.mep_menu2 .menu2 header .separateur_droit {
  width: 0px;
  height: 0px;
  left: -220px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 35px solid;
  position: relative;
}
.mep_menu2 .menu2 header .separateur_droit:before {
  content: "";
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 220px solid;
  position: absolute;
  width: 0px;
  height: 0px;
  top: -6px;
  left: 35px;
}

.mep_menu3 {
  background-color: #f9f9f9;
  color: #007cff;
  font-family: "Savoye LET";
  font-size: 2.6em;
  color: black;
}
.mep_menu3 h2 {
  background: -webkit-linear-gradient(left, #2900e8, #007cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mep_menu3 h3:after {
  background: -webkit-linear-gradient(left, rgba(41, 0, 232, 0.3), rgba(0, 124, 255, 0.5));
  height: 1em;
}
.mep_menu3 .menu3 header {
  padding: 0;
}
.mep_menu3 .menu3 header .separateur_gauche {
  margin-bottom: 10px;
  width: 270px;
  height: 15px;
  border: solid;
  border-width: 0 0 6px 1px;
  border-color: transparent transparent #007cff transparent;
  border-radius: 150px/10px 0px 0px 140px;
}
.mep_menu3 .menu3 header .separateur_droit {
  margin-bottom: 10px;
  width: 270px;
  height: 15px;
  border: solid;
  border-width: 0 1px 6px 0px;
  border-color: transparent transparent #007cff transparent;
  border-radius: 150px/0px 10px 140px 0px;
}

.mep_menu4 {
  background-color: #fdfffd;
  color: #52c749;
  font-family: "kalam";
  font-size: 2.3em;
  color: black;
}
.mep_menu4 h2 {
  background: -webkit-linear-gradient(left, #52c749, #a9ff6d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mep_menu4 h3:after {
  background: -webkit-linear-gradient(left, rgba(82, 199, 73, 0.3), rgba(169, 255, 109, 0.5));
}
.mep_menu4 .menu4 header .separateur_gauche {
  width: 27%;
  height: 0.7em;
}
.mep_menu4 .menu4 header .separateur_droit {
  width: 27%;
  height: 0.7em;
}
.mep_menu4 .menu4 h3 {
  font-size: 1.3636363636em;
}
.mep_menu4 .menu4 p {
  font-size: 0.8461538462em;
}

.mep_ml {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 50px;
}
.mep_ml h2 {
  margin: 0;
  color: #3da087;
  font-size: 2.08em;
  padding: 20px 0 30px 20px;
}
.mep_ml p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 8px 0 0 40px;
  display: inline;
  text-align: justify;
}
.mep_ml p span {
  padding: 0;
}
.mep_ml p a {
  color: blue;
  margin: 0;
  padding: 0;
  transition: unset;
}
.mep_ml p a:hover {
  transform: unset;
}
.mep_ml h3 {
  font-size: 1.2em;
}
.mep_ml ul {
  padding-left: 80px;
}

/*# sourceMappingURL=style.css.map */
