@keyframes pointillee {
    0%{
    transform:translateY(0px);
    }
    75% {
        transform: translateY(0px);
    }
    100%{
    transform:translateY(-8px);
    }
}
@keyframes wiggle{
    25% {
        transform: rotateZ(7deg);
    }
    75% {
        transform: rotateZ(-7deg);
    }
}


