@media (max-width: 1200px)
{
    body{
        zoom:80%;
    }
}
@media (max-width: 960px) {
    body {
        zoom: 60%;
    }
}
@media (max-width: 740px) {
    body {
        zoom: 50%;
    }
}

@media(max-width:600px){
    body
    {
        zoom:50%;
    }
    .mep_menu1, .mep_menu2, .mep_menu3, .mep_menu4 {
        & .entete h2 {
            font-size: $font_size_page_menu_h2*1.8;
        }

        & section {
            @include flex (column, unset);
            align-items: center;
            box-sizing: border-box;
            width: 95%;

            & article {
                & header {
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    height: 100px;

                    & .separateur_droit {
                        display: none;
                    }

                    & .separateur_gauche {
                        margin: auto;
                    }

                    & h3 {
                        margin: 0;
                    }

                    & img {
                        display: inline-block;
                        width: 80%;
                    }
                }
            }
        }
    }
    .mep_menu2 {
        & header {
            margin:auto;
            & h3 {
                margin-right:auto;
                text-align:unset;
            }
        }
    }
}

