.mep_menu2 {
    & .menu2 {
        & header {
            & h3 {
                @media (max-width:488px) {
                    text-align: unset;
                    left: 12%;
                }
            }
        }
    }
}
body {
    @media (max-width:1200) {
    }
}
h3 {
    @media (max-width:1023px) {
    }

    @media (max-width:488px) {
    }
}
.mep_menu1, .mep_menu2, .mep_menu3, .mep_menu4 {
    @media (max-width:730px) {
        zoom: 80%;
    }

    & h2 {
        @media (max-width:1025px) {
            font-size: $font_size_page_menu_H3/1.3;
        }

        @media (max-width:488px) {
            font-size: $font_size_page_menu_H3/1.5;
        }
    }

    & section {
        @media (max-width:1024px) {
            width: 95%;

            & article {
                & p:nth-of-type(1) {
                    @media (max-width:488px) {
                        margin-top: 30px;
                    }
                }

                & header {
                    @media (max-width:1024px) {
                        @include flex(column,center);
                    }

                    & h3 {
                        @media (max-width:488px) {
                            margin: 10px auto auto auto;
                        }
                    }

                    & .separateur_gauche {
                        @media (max-width:1200px) {
                            zoom: 80%;
                        }
                    }

                    & .separateur_droit {
                        @media (max-width:488px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
