@font-face
    {
    font-family: 'Kaushan Script';
    src: url("../fonts/KaushanScript-Regular.otf");
    }
@font-face {
    font-family: 'kalam';
    src: url("../fonts/Kalam/Kalam-Light.ttf"), url("../fonts/Kalam/Kalam-Regular.ttf"), url("../fonts/Kalam/Kalam-Bold.ttf");
}
@font-face {
    font-family: 'noto';
    src: url("../fonts/Noto_serif/NotoSerif-Regular.ttf"),url("../fonts/Noto_serif/NotoSerif-Bold.ttf");
}
@font-face{
    font-family: 'Savoye LET';
    src: url("../fonts/SavoyeLET.ttc");
    }
@font-face {
    font-family: 'dancing';
    src: url("../fonts/Dancing.ttf");
}

    $formEcritureMenu1: 'dancing';
    $formEcritureMenu2: 'noto';
    $formEcritureMenu3: 'Savoye LET';
    $formEcritureMenu4: 'kalam';

    $couleur_bg_header_footer: rgba(61, 160, 135, 1);

    $direction: row;

    $couleur_menu1: rgb(255,222,217);
    $couleur_menu2: rgb(255,244,254 );
    $couleur_menu3: rgb(249,249,249 );
    $couleur_menu4: rgb(253,255,253 );

    $font_size_page_principal: 1.4em;
    $font_size_page_menu_h1: 4.5em;
    $font_size_page_menu_h2: 1.8em;
    $font_size_page_menu_H3:3em;
    $font_size_page_menu_H4: 1.5em;
    $font_size_p: 1.1em;
    $font_size_p_footer: 1.1em;


    $taillePoliceMenu1: 1.5em;
    $taillePoliceMenu2: 1.1em;
    $taillePoliceMenu3: 2em;
    $taillePoliceMenu4: 1.5em;

    $couleur_font_header_footer: rgba(255,206,0,1);
    $couleur_font_menu1: rgb(65,13,22);
    $couleur_font_menu2: rgb(209,114,0);
    $couleur_font_menu3: rgb(0,124,255);
    $couleur_font-menu4: rgb(82,199,73);

    $couleur_nuance_menu1: rgb(65,13,22);
    $couleur_nuance_menu2: -webkit-linear-gradient(left,rgb(209,114,0),rgb(155,33,255 ));
    $couleur_nuance_menu3: -webkit-linear-gradient(left,rgb(41,0,232 ),rgb(0,124,255 ));
    $couleur_nuance_menu4: -webkit-linear-gradient(left,rgb(82,199,73),rgb(169,255,109));

    $couleur_note: -webkit-linear-gradient(left,rgba(255, 74, 85, 1),rgba(255, 140,91,1));

    $couleur_surlignage_menu1: rgba(65,13,22,.3);
    $couleur_surlignage_menu2: -webkit-linear-gradient(left,rgba(209,114,0,.3),rgba(155,33,255,.5 ));
    $couleur_surlignage_menu3: -webkit-linear-gradient(left,rgba(41,0,232,.3),rgba(0,124,255,.5 ));
    $couleur_surlignage_menu4: -webkit-linear-gradient(left,rgba(82,199,73,.3),rgba(169,255,109,.5));
