.mep_menu1 {
    @include couleur_menu(menu1);
    & i {
        background-color:blue;
        padding-top: 2em;
        padding-bottom: 0;
    }
    & h3 {
        @include couleur_bg_nuance(menu1);
        padding: 0 50px;
    }
    & h4:after {
        @include surlignage(menu1);
        bottom: -5px;
    }
}
