h1
    {
    color: $couleur_font_header_footer;
    font-size: $font_size_page_menu_h1;
    text-align: center;
    font-weight: bolder;
    }
h2
    {
    @include flex(row,center);
    font-size: $font_size_page_menu_h2;
    margin: auto;
    display:inline-block;
    background-color: transparent;
    clip-path: inset(1px 1px);
    padding:0 10px;
    }
    section h2
        {
        cursor:pointer;
        }
h3
    {
    text-align:center;
    font-size: $font_size_page_menu_H3;
    padding: 30px 50px 0 50px;
    }
h4 {
    font-size: $font_size_page_menu_H4;
}
.entete
    {
    @include flex(column,center);
    align-items: center;
    & i
        {
        padding-top:40px;
        }
    }
.mep_menu1, .mep_menu2, .mep_menu3, .mep_menu4 {
    margin: 20px;
    box-shadow: 2px 2px 12px grey;

    & h2 {
        cursor: default;
        text-align: center;
        font-size: $font_size_page_menu_H3;
        padding: 30px 50px 0 50px;
    }

    & section {
        @include flex (column, unset);
        align-items: center;
        box-sizing: border-box;
        width: 80%;

        & article {
            box-sizing: border-box;
            width: 100%;

            & header {
                box-sizing: border-box;
                width: 100%;
                @include flex (row, space-between);
                text-align: center;

                & h3 {
                    box-sizing: border-box;
                    min-width:280px;
                    padding: 0 10px;
                    position: relative;
                    @include flex (row,center);
                    font-size: $font_size_page_menu_H4;

                    &:after {
                        position: absolute;
                        content: "";
                        left: 50%;
                        transform: translateX(-100%) scaleX(0);
                        width: 100%;
                        height: $font_size_page_menu_H4/1.1;
                        border-radius: 30% 20px 50% 20px;
                        transition: transform 1500ms ease-in-out;
                    }

                    &:hover:after {
                        transform: translateX(-50%) scaleX(1);
                    }
                }
            }
        }
    }
}
