.mep_menu4
    {
    @include couleur_menu(menu4);
    color: black;
    & h2
        {
        @include couleur_bg_nuance(menu4);
        }
    & h3:after
        {
        @include surlignage(menu4);
        }
    & .menu4
        {
        & header
            {
            & .separateur_gauche
                {
                width: 27%;
                height: .7em;
                }
            & .separateur_droit
                {
                width: 27%;
                height: .7em;
                }
            }
        & h3
            {
            font-size: $font_size_page_menu_H4/1.1;
            }
        & p
            {
            font-size: $font_size_p/1.3;
            }
        }
    }
